* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-image: url("/img/clean-gray-paper.jpg");
    background-position: center;
    background-size: cover;
    background-color: #a1a1a1;
    transition: 0.4s;
}
.navbar h5 {
    font-weight: bold;
    color: #842d62;
}

.my-container {
    transition: 0.4s;
}

/* for navbar */

.active-nav {
    margin-left: 0;
}

/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #0c4da2;
    color: #fff;
    margin: 1.4%;
    float: left;
}

#menu-btn:hover,
#menu-btn:focus {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#top-header {
    background-color: rgb(221 221 221);
    width: 100%;
    height: 70px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.top-title {
    /* margin: 0% 25%; */
    text-align: center;
    color: #842d62;
}
.top-brand a {
    text-decoration: none;
    color: #842d62;
}

/* login form css */
.box {
    display: flex;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
}
.login-form {
    min-width: 350px;
    max-width: 400px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(235, 235, 235);
}
.login-form h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 35px;
}
/* .login-form input[type="email"] {
    margin-top: 30px;
} */
.login-form input[type="submit"]:hover {
    opacity: 0.8;
}
.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
    font-size: 1.2rem;
    font-family: "Raleway", sans-seriff;
    background-color: rgb(235, 235, 235);
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 3px;
}
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus,
.login-form input[type="text"]:focus {
    border-bottom: 3px solid #842d62;
    box-shadow: inset 0 -1px 0 #ddd;
    transition: ease-out 0.15s;
}

.login-form .error_msg {
    color: red;
    margin-left: 5%;
    display: none;
    margin-top: 1%;
}

.logout {
    float: right;
    margin-top: 1.3%;
    margin-right: 2%;
}
.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #ffffff;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #ffffff;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}
.lh-tight {
    line-height: 1.25;
}

/* bootstrap form custom design */
.form-floating > .form-control,
.form-floating > .form-select {
    height: calc(3.7rem + -4px) !important;
}

.form-floating > label {
    padding: 0.6rem 1.5rem;
}

/* sweet alert toast custom design */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
